version: '3.9'

services:
  app:
    container_name: reconciliations-fe
    image: reconciliations-fe
    build:
      context: .
      target: development
    volumes:
      - ./src:/app/src
    ports:
      - 3000:3000
